/* ejemplo2.css   CM20028  */
pais{background-color: aqua;} departamento{background-color: blueviolet;
display: block;}
cabecera{color: chartreuse;} habitantes{color: chartreuse;} altura{color: chartreuse;}